
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/Master.cshtml";
}
<script src="~/Scripts/RobiAirtelFaq.js"></script>

<style>
    .heading {
        font-size: 35px;
        font-weight: bold;
    }
</style>
<script src="~/Scripts/RobiAirtelFaq.js"></script>
<div ng-controller="RobiAirtelFaqController">
    <div class="row">
        <div><h3 style="background-color:red">QuizPlay FAQ</h3></div>
    </div>
    <div class="row">
        <h3 class="heading">• What is QuizPlay?</h3>
        <h3>• “Quiz Play” contest portal is a daily subscription based portal where subscribers can play daily online quiz games and win prizes. Subscribers can play category themed contests which will test their knowledge in that particular category and reward players who will compete with other players based on knowledge and speed.<br />
            &nbsp;&nbsp; &nbsp; • Until now, all quiz content in Bangladesh has been based on SMS charging where the users are discouraged because they have to pay for every SMS or answer sent. Also, there is no visibility who is the winner and what is the other player’s score as everything is done on the back-end where service provider/operator decides the winner.<br />
            &nbsp;&nbsp; &nbsp; • This form of quiz contest will be transparent and cost effective to the mobile internet users of Bangladesh by abiding with the quiz/contest guidelines of BTRC.</h3>
    </div>
    <div class="row">
        <h3 class="heading">• What is QuizPlay address?</h3>
        <h3>• The contest portal address will be <a href="http://quizplay.mobi/">http://quizplay.mobi/</a> </h3>
    </div>
    <div class="row">
        <h3 class="heading">• How can users join the service?</h3>
        <h3>• User can join service from portal (<a href="http://quizplay.mobi/">http://quizplay.mobi/</a>) or by sending SMS keyword.</h3>
    </div>
    <div class="row">
        <h3 class="heading">• Activation Procedure:</h3>
        <h3>• Type START QPLAY to 6624</h3>
    </div>
    <div class="row">
        <h3 class="heading">• What are the requirements to play QuizPlay?</h3>
        <h3>• Any player must have a mobile internet connected phone and use browsers such as Chrome, Opera, Firefox.</h3>
    </div>
    <div class="row">
        <h3 class="heading"> • What type of Questions will QuizPlay contest have?</h3>
        <h3>• Contest will be image and text based questions. Besides all question will be MCQ type.</h3>
    </div>
    <div class="row">
        <h3 class="heading">  • Will QuizPlay daily contest have any question themes?</h3>
        <h3>• Yes. The themes of the contest will change every day. Every day will set different themes. Randomly this theme will be change. Example themes are as follows: Sports, Celebrity, Music, Movies, History, Bangladesh, and Puzzle.</h3>
    </div>
    <div class="row">
        <h3 class="heading">   • How many questions will each contest have?</h3>
        <h3>• Each contest will have daily minimum 40 questions. Player must answer all questions to complete contest. Incomplete play will not record score.</h3>
    </div>
    <div class="row">
        <h3 class="heading">• How many winners will there be?</h3>
        <h3>• Each contest will have three (3) winners daily.</h3>
    </div>
    <div class="row">
        <h3 class="heading">• What will be prize of daily winner?</h3>
        <h3>• Every day three winner will get Mobile Top-up.<br />
            <br />

            &nbsp;&nbsp; &nbsp; • Every week QuizPlay Prize will change. To know the latest prize please visit<strong>Prizes</strong></h3>
    </div>
    <div class="row">
        <h3 class="heading">• How many time's can play in a day?</h3>
        <h3>• 3 times. Every times user will get new theme. Once you have answered all 40 questions you cannot play further for the day..</h3>
    </div>
    <div class="row">
        <h3 class="heading">• How will the winners be selected?</h3>
        <h3>• Weekly & Monthly winners will be selected based on time frame and top score. Quickest and highest three scorers will be considered as winners respectively.</h3>
    </div>
    <div class="row">
        <h3 class="heading">• How to deactivate the service?</h3>
        <h3>• Service can be deactivated anytime by using unsubscribe button or sending deactivation SMS.</h3>
    </div><div class="row">
        <h3 class="heading">• Deactivation procedure:</h3>
        <h3>• Type STOP QPLAY to 6624</h3>
    </div>
    <div class="row">
        <h3 class="heading"> • How much is the charge to play QuizPlay?</h3>
        <h3>
            • Subscription charging info:
            Pricing TK 2(+VAT + SD & SC)/day.
        </h3>
    </div>
    <div class="row">
        <h3 class="heading"> • What is the helpline/hotline number?</h3>
        <h3>8801992303765</h3>
    </div>
    <div class="row">
        <h3 class="heading"> • What is the support email address?</h3>
        <h3>• Support mail : <a href="mailto:support@vumobile.biz" target="_top">support@vumobile.biz</a></h3>
    </div>
    <br />
    <br />
    <div class="row" style="margin-left:38%">
        <div class="col-md-8 col-sm-8">
            <a href="@Url.Action("Default")"><img src="~/Images/Quizplay_graphics/Home.png" width="25%" /></a>
            <a href="@Url.Action("Default")"><img src="~/Images/Quizplay_graphics/Exit.png" width="25%" /></a>
        </div>
    </div>
</div>
